<a href="https://colab.research.google.com/github/yaxh-k/AcuityMD_Takehometest/blob/main/TakeHomeTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**AcuityMD [TAKE HOME ASSESSMENT]**   (Scroll to the bottom for results)

Libraries

In [104]:
import pandas as pd
import numpy as np
from collections import Counter

**The first dataset, “salesData,” contains information about medical devices that were sold to healthcare professionals (HCP) at various sites of care (SOC). Each object in the list [row in the table] represents a single invoice to a particular HCP at a particular SOC for a particular number of devices (volume).**

In [105]:

df = pd.read_csv('salesData.csv')
df

     hcp  soc  volume
0      0    0      15
1      0   91      15
2      0   73      13
3      1   13      73
4      2   54      25
..   ...  ...     ...
406  986   19      17
407  988   38      18
408  991   82       1
409  994   10       1
410  998   41      99

[411 rows x 3 columns]

**The second dataset, “procedureData,” contains information about medical procedures that were conducted by HCPs at various SOCs. Each object in the list [row in the table] represents some number (volume) of procedures that happened by a HCP at a SOC.
Let’s assume that the medical device is “disposable;” it can be used for one procedure and then it must be discarded.**

In [106]:

df1 = pd.read_csv('procedureData.csv')
df1

      hcp  soc  volume
0       0    0      15
1       0   91      15
2       0   73      13
3       0   14      14
4       1   13      73
...   ...  ...     ...
2018  994    5       8
2019  994   10       1
2020  996   83      63
2021  997   43      60
2022  998   41      99

[2023 rows x 3 columns]

**Finding rows in Procedure dataframe which are not available in Sales dataframe
[This will give us a dataset with HCP's who performed procedures at different SOC's not on the invoice of salesData.csv]**

In [126]:


df2 = df1.merge(df, how = 'outer' ,indicator=True).loc[lambda x : x['_merge']=='left_only']
df2

      hcp  soc  volume     _merge
3       0   14      14  left_only
5       2   78      27  left_only
7       2   66      18  left_only
8       4    9      22  left_only
9       4    6       6  left_only
...   ...  ...     ...        ...
2016  994   73      18  left_only
2017  994   87       9  left_only
2018  994    5       8  left_only
2020  996   83      63  left_only
2021  997   43      60  left_only

[1611 rows x 4 columns]

**Manipulating dataset with sum of procedures(volume) for each HCP and storing it a new dataframe, Thus, creating a dataframe with hcp's and total number of procedures**

In [128]:
df3 = df2.groupby(['hcp'])['volume'].sum().reset_index()
df3

#now we can see number of procedures done by HCP's (not on invoice) at all the different SOC's

     hcp  volume
0      0      14
1      2      45
2      4      53
3      6      21
4      7      68
..   ...     ...
752  992      86
753  993      62
754  994      35
755  996      63
756  997      60

[757 rows x 2 columns]

**Top 10 HCPs who are performing the most procedures without the device**

In [134]:

#finding max numer of procedures then its link with HCP using ID

a = df3['volume'].nlargest(n=10).reset_index()


hcp = []

for x in a['index']:
  hcp.append(df3['hcp'][x])

hcp
#Displaying HCP's with max procedures without the device

[294, 595, 627, 979, 200, 555, 801, 151, 101, 789]

**Creating a DataFrame with Top 10 HCP and Total number of procedures without the device and displaying it**

In [145]:

result = pd.DataFrame()
result['HCP'] = hcp
result['Total_Volume'] = a['volume']
result.index = pd.RangeIndex(start=1, stop=11, step=1)

result

#Our customers should focus on these HCP's

    HCP  Total_Volume
1   294            99
2   595            99
3   627            99
4   979            99
5   200            98
6   555            98
7   801            98
8   151            97
9   101            96
10  789            94